server:
  port: 8091
spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: userService
          uri: ${USER_SERVICE_BASE_URL:http://localhost:8080}
          predicates:
            - Path=/users/**
          filters:
            - PrefixPath=/api/v1
        - id: payment_card_service
          uri: ${USER_SERVICE_BASE_URL:http://localhost:8080}
          predicates:
            - Path=/payment-cards/**
          filters:
            - PrefixPath=/api/v1
        - id: auth_service
          uri: ${AUTH_SERVICE_BASE_URL:http://localhost:9090}
          predicates:
            - Path=/auth/**
          filters:
            - PrefixPath=/api/v1
        - id: order_service
          uri: ${ORDER_SERVICE_BASE_URL:http://localhost:8090}
          predicates:
            - Path=/orders/**
          filters:
            - PrefixPath=/api/v1
        - id: item_service
          uri: ${ORDER_SERVICE_BASE_URL:http://localhost:8090}
          predicates:
            - Path=/items/**
          filters:
            - PrefixPath=/api/v1
        - id: payment_service
          uri: ${PAYMENT_SERVICE_BASE_URL:http://localhost:8092}
          predicates:
            - Path=/payments/**
          filters:
            - PrefixPath=/api/v1

auth:
  filter:
    excludedPaths:
      - /auth/register
      - /auth/token
      - /auth/refresh
jwt:
  public-key: ${JWT_PUBLIC_KEY:}
# Prometheus metrics
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    export:
      prometheus:
        enabled: true
    tags:
      application: ${spring.application.name}
  prometheus:
    metrics:
      export:
        enabled: true

# OpenTelemetry tracing
otel:
  traces:
    exporter: otlp
  service:
    name: ${spring.application.name}
  instrumentation:
    micrometer:
      enabled: true
  exporter:
    otlp:
      endpoint: http://${OTEL_EXPORTER_OTLP_ENDPOINT:localhost:4317}
      protocol: grpc
  metrics:
    exporter: none
  logs:
    exporter: none

# Application logs
logging:
  level:
    ROOT: INFO
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
  loki:
    url: http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push
    headers:
      X-Scope-OrgID: inno