<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="appName" source="spring.application.name"/>
    <springProperty scope="context" name="lokiUrl" source="LOKI_URL" defaultValue="http://localhost:3100"/>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${lokiUrl}/loki/api/v1/push</url>
        </http>
        <labels>
            app = ${appName}
            service_name = ${appName}
            host = ${HOSTNAME}
        </labels>
        <message>
            <pattern>%d{ISO8601} [%thread] %level %logger{36} - %msg %ex{short} trace_id=%mdc{trace_id} span_id=%mdc{span_id}</pattern>
        </message>
    </appender>

    <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.mdc.v1_0.OpenTelemetryAppender">
        <appender-ref ref="LOKI"/>
    </appender>



    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%thread] %level %logger{36} - %msg %ex{short} trace_id=%mdc{trace_id} span_id=%mdc{span_id}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="OTEL"/>
    </root>
</configuration>